* {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.liens {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
}
.contenu {
  position: absolute;
  left: 20%;
  bottom: 40%;
  right: 20%;
}
.header {
  position: fixed;
  top: 10px;
  right: 10px;
}
a:link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: black;
  text-decoration: none;
}
canvas {
  position: relative;
  z-index: -1;
}
