* {
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  top: 0;
  justify-content: right;
  display: flex;
  width: 100%;
}


/* Media query for small screens */
@media (max-width: 768px) {
  header {
    position: relative;
    justify-content: space-between;
    align-items: center;
    top: 0;
    display: flex;
    width: 100%;
  }


}


a {
  text-decoration: none;
  color: darkgray;
}