* {
  font-family: Arial, Helvetica, sans-serif;
}
.liens {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
}
/* z-index ne fonctionne pas */

.contenu {
  position: absolute;
  left: 20%;
  bottom: 50%;
  right: 20%;
  /* z-index: 1; */
}
/* n'est plus nécessaire */
/* .apropos {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 40%;
} */
.header {
  position: fixed;
  top: 10px;
  right: 10px;
}
a:link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: black;
  text-decoration: none;
}
/* z-index ne fonctionne pas */
/* https://github.com/processing/p5.js/wiki/Positioning-your-canvas */
canvas {
  position: relative;
  z-index: -1;
}
