<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <footer>
      <nav>
        <a
          href="https://FredericGaudreau.github.io/apropos.html"
          id="about-link"
          aria-label="About"
        >
          <i class="fas fa-user"></i>
        </a>
        <a href="https://github.com/FredericGaudreau" aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/FredericGaudreau/"
          aria-label="LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:frederic.gaudreau@icloud.com" aria-label="Email">
          <i class="fas fa-envelope"></i>
        </a>
      </nav>
      </nav>
    </footer>
  </body>
</html>
