* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', 'Arial', sans-serif;
}

header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: darkgray;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1.5rem 6rem 1.5rem;
  line-height: 1.6;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

article h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

article h2 {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

article ul {
  margin-left: 1.5rem;
  gap: 0.5rem;
}

article li {
  margin-bottom: 0.5rem;
}

article p {
  color: #333;
}

/* Media query for small screens */
@media (max-width: 768px) {
  header {
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0;
    display: flex;
    width: 100%;
    padding: 1rem;
  }

  footer {
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 1rem;
  }
}
