* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', 'Arial', sans-serif;
}

header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: darkgray;
}

/* Media query for small screens */
@media (max-width: 768px) {
  header {
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0;
    display: flex;
    width: 100%;
    padding: 1rem;
  }

  footer {
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 1rem;
  }
}
